<!-- views/pages/index.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
</head>
<body class="container">

    <header>
        <% include ../partials/header %>
    </header>

    <main>
        <div class="jumbotron">
            <h1>About</h1>
            <p>The purpose of this website is to analyze and query a large amount of tweets from the presidential debates during the 2016 elections.</p>
            <p>
            Using the search page you can search for various things such as keywords or retweet counts. There's also an option for Raw SQL queries for which we have added some "Interesting" queries to.
            </p>
        </div>
    </main>

    <footer>
        <% include ../partials/footer %>
    </footer>
    
</body>
</html>