<!-- views/pages/index.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
</head>
<body class="container">

    <header>
        <% include ../partials/header %>
    </header>

    <main>
        <div class="jumbotron">
        <h1>Results:</h1>
            <div class="row">
                <div class="col-sm-12">
                    
                    <table border="1" width="100%">
   <tr>
      <th>User Name</th><th>Tweet Text</th><th>Retweets</th><th>Favorites</th>
   </tr>

   <% for (var i = 0; i < data.length; /* I save the data in a variable 'quotation', I don't know how you named your variable  */  i++) { %>
    <tr>
      <td width="25%"><%= data[i][1] %></td>
      <td width="25%"><%= data[i][8] %></td>
      <td width="25%"><%= data[i][11] %></td>
      <td width="25%"><%= data[i][12] %></td>
    </tr>    
   <% } %>
</table>
                    
                </div>
            </div>
        </div>
    </main>

    <footer>
        <% include ../partials/footer %>
    </footer>
    
</body>
</html>
