<!-- views/pages/index.ejs -->

<!DOCTYPE html>
<html lang="en">
<% var strType = "test"; %>
<head>
    <% include ../partials/head %>
        <script>

            var f2 = document.getElementById("form2");
            function change() {
                var e = document.getElementById("type_drop");
                var text = e.options[e.selectedIndex].text;
                var f1 = document.getElementById("form1");
                var f2 = document.getElementById("form2");

                if (text == "Tweets") {
                    f1.style.display = 'block';
                    f2.style.display = 'none';
                } else {
                    f1.style.display = 'none';
                    f2.style.display = 'block';
                }
            }

            function queryChanged() {
                var e = document.getElementById("queries");
                var text = e.options[e.selectedIndex].text;
                var box = document.getElementById("raw_query");
                var desc = document.getElementById("queryText");

                if (text == "Query 1") {
                    box.value = 'SELECT name, COUNT(sender_id) as Biggest_Talkers FROM (SELECT * from TWITTERUSER tu join TWEET t on tu.user_id = sender_id) GROUP BY name ORDER BY 2 desc';
                    desc.innerText = "This will show which users on twitter were the biggest talkers, i.e who had the most tweets relevant to the debates.";
                }
                if (text == "Query 2") {
                    box.value = 'SELECT name, COUNT(sender_id) as Tweets_Over_1k_Retweets FROM (SELECT * from TWITTERUSER tu join TWEET t on tu.user_id = sender_id WHERE t.retweet_count>1000) GROUP BY name ORDER BY 2 desc';
                    desc.innerText = "This query will show the count of tweets with over 1k retweets from each user in descending order.";
                }
                if (text == "Query 3") {
                    box.value = '';
                    desc.innerText = "";
                }
                if (text == "Query 4") {
                    box.value = '';
                    desc.innerText = "";
                }
                if (text == "Query 5") {
                    box.value = '';
                    desc.innerText = "";
                }
                if (text == "Query 6") {
                    box.value = '';
                    desc.innerText = "";
                }

            }
        </script>
</head>
<body class="container">

    <header>
        <% include ../partials/header %>
    </header>
    

    <main>
        
        <div class="jumbotron">
            <!-- Row for top navigation -->
            <div class="row">
                <div class="col-sm-12">
                    <h3 id="typeText">Query Type</h3>
                    <form method="post" action="/submit">
                    <div name="type left-side">
                    <select id= "type_drop" name="type_drop" onchange="change();">
                      <option value="tweets">Tweets</option>
                      <option value="users">Users</option>
                    </select>
                    </div>
                    
                </div>
                
            </div>
            <!-- FORM 1 HTML: -->
            <div id="form1" >

            <!-- Key words input -->
            <div class="row">
                <div class="col-sm-12">
                    <h5>Keywords: (separate by spaces)</h5>
                    <input type="text" name="keywords" size="75" class="form-control" value= "" >
                </div>
            </div>

            <!-- User name input -->
            <div class="row">
                <div class="col-sm-12">
                    <h5>Username Contains:</h5>
                    <input type="text" name="username" size="75" class="form-control" value= "" >
                </div>
            </div>

            <!-- retweets input -->
            <h5>Retweets:</h5>
            <div class="row">
                <div class="col-sm-2 left-side">
                    <select name="retweetequality">
                      <option value="greater-than">Greater than</option>
                      <option value="less-than">Less than</option>
                      <option value="equal-to">Equal to</option>
                      
                    </select>

                </div>
                <div class="col-sm-5">
                    <input type="number" name="retweets" size="75"class="form-control" value= "" >
                </div>
            </div>

            <!-- favorites input -->
            <h5>Favorites:</h5>
            <div class="row">
                <div class="col-sm-2 left-side">
                    <select name="favoriteequality">
                      <option value="greater-than">Greater than</option>
                      <option value="less-than">Less than</option>
                      <option value="equal-to">Equal to</option>
                    </select>
                </div>
                <div class="col-sm-5">
                    <input type="text" name="favorites" size="75" class="form-control" value= "" >
                </div>
            </div>

            <!-- Region input -->
            <div class="row">
                <div class="col-sm-12">
                    <h5>Region:</h5>
                    <input type="text" name="region" size="75" class="form-control" value= "" >
                </div>
            </div>

            <!-- Language input -->
            <div class="row">
                <div class="col-sm-12">
                    
                    <h5>Language:</h5>
                    <select name="languagetypes">
                      <option value="any">Any</option>
                      <option value="english">English</option>
                      <option value="spanish">Spanish</option>
                    </select>
                </div>
            </div>

            <br />

            <!-- Submit button -->
            <input type="submit" value="Search">
            </form>

            </div>

            <!-- FORM 2 HTML: -->
            <div id="form2" style="display: none;">
                <form method="post" action="/submit">
            <!-- User name input -->
            <div class="row">
                <div class="col-sm-12">
                    <h5>Username Contains:</h5>
                    <input type="text" name="username_users" size="75" class="form-control" value= "" >
                </div>
            </div>

            <!-- followers input -->
            <h5>Followers:</h5>
            <div class="row">
                <div class="col-sm-2 left-side">
                    <select name="followersequality">
                      <option value="greater-than">Greater than</option>
                      <option value="less-than">Less than</option>
                      <option value="equal-to">Equal to</option>
                    </select>
                </div>
                <div class="col-sm-9 right-side">
                    <input type="text" name="followers" size="75" class="form-control" value= "" >
                </div>
            </div>

            <!-- Region input -->
            <div class="row">
                <div class="col-sm-12">
                    <h5>Region:</h5>
                    <input type="text" name="region_users" size="75" class="form-control" value= "" >
                </div>
            </div>

            <!-- Language input -->
            <div class="row">
                <div class="col-sm-12">
                    
                    <h5>Language:</h5>
                    <select name="languagetypes_users">
                      <option value="any">Any</option>
                      <option value="english">English</option>
                      <option value="spanish">Spanish</option>
                    </select>
                </div>
            </div>

            <br />

            <!-- Submit button -->
            <input type="submit" value="Search">
        </form>
            </div>

            <h3>Raw Query:</h3>
            <form method="post" action="/raw_query">
                <input id="raw_query" type="text" name="query" size="75" class="form-control" value= "select count (*) as total from TWEET">

                <br />

                <!-- Interesting queries -->
                    <h3>Interesting Queries:</h3>
                    <select id="queries" name="queries" onchange="queryChanged();">
                      <option value="noquery">Interesting Queries</option>
                      <option value="query1">Query 1</option>
                      <option value="query2">Query 2</option>
                      <option value="query3">Query 3</option>
                      <option value="query4">Query 4</option>
                      <option value="query5">Query 5</option>
                      <option value="query6">Query 6</option>
                    </select>

                    <h5 id="queryText" style="color:red"></h5>


                <input type="submit" value="Search">
            </form>
        </div>
    </main>

    <footer>
        <% include ../partials/footer %>
    </footer>
    
</body>
</html>